body{
  background: lightblue;
  background: linear-gradient(45deg, lightblue 80%, white);
  background-attachment: fixed;
}

.h1-title{
  text-align: center;
}

.navbar ul{
  background: #d3dff2;
  margin: 0% 25% 0% 25%;
}

.navbar li{
   background: #ccccff;
   display: inline;
   padding: 3px;
   border-radius: 25px 25px 25px 25px;
}

.navbar li a:link{
   color: #1a1aff;
}

.navbar li a:visited{
   color: #1a1aff;
}

p{
   background: #ffffff;
   color: #000000;
   margin: 0% 25% 0% 25%;
}

.span-l{
   border:1px solid #000000;
   padding-left: 3px;
   padding-right: 3px;
}

.span-r{
   border-right: 1px solid #000000;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;
   padding-left: 3px;
   padding-right: 3px;
}
