/* reset css */
* {padding: 0; margin: 0; border-radius: 0; border: 0;}

body {
   background: #0052cc;
   background: linear-gradient(45deg, #003d99, #0052cc) fixed;
}

/* título */
.title {
   color: #e6e6ff;
   font-size: 2.8em;
   margin: 15px;
   text-align: center;
}

/* menu horizontal */
.navbar ul {
   background: #e6e6ff;
   border-radius: 25px 25px 25px 25px;
   margin: 0% 25% 0% 25%;
   padding: 5px;
}

.navbar li {
   background: #ccccff;
   border-radius: 25px 25px 25px 25px;
   display: inline;
   padding: 3px;
}

.navbar li a:link {
   color: #003d99;
}

.navbar li:hover {
	background: blue;
}

.navbar li a:visited {
   color: #2d2da1;
}

/* container */
.container {
   background: #fff;
   border-radius: 5px;
   color: #000;
   margin: 5px 25% 5px 25%;
   padding: 10px 5px 10px 5px;
}

/* subtítulo e animação do subtítulo */
.subtitle {
   animation-name: fade-in;
   animation-duration: 2.5s;
   animation-timing-function: ease-in;
   animation-iteration-count: 1;
   color: #e6e6ff;
   font-size: 2.2em;
   text-align: center;
   margin: 15px;
}

@keyframes fade-in {
   from {
      opacity: 0.0;
   }
   to {
      opacity: 1.0;
   }
}

/* spans */
.span-l {
   border: 1px solid #000;
}

.span-r {
   border: solid #000;
   border-width: 1px 1px 1px 0px;
   padding: 0px 3px 0px 3px;
}

.span-r a {
   text-decoration: none;
}

/* footer */
.footer {
   background-color: #011f4d;
   color: #fff;
   padding: 10px;
   position: absolute;
   
   bottom: 0;
   left: 0;
   right: 0;
}

