body{
   background: #0052cc;
   background: linear-gradient(45deg, #003d99, #0052cc);
   background-attachment: fixed;
}

.title{
   color: #e6e6ff;
   font-size: 45px;
   text-align: center;
}

.navbar ul{
   background: #e6e6ff;
   padding: 5px;
   margin: 0% 25% 0% 25%;
   border-radius: 25px 25px 25px 25px;
}

.navbar li{
   background: #ccccff;
   display: inline;
   padding: 3px;
   border-radius: 25px 25px 25px 25px;
}

.navbar li a:link{
   color: #1a1aff;
}

.navbar li a:visited{
   color: #1a1aff;
}

p{
   background: #ffffff;
   color: #000000;
   margin: 0% 25% 0% 25%;
}

.span-l{
   border:1px solid #000000;
   padding: 0px 3px 0px 3px;
}

.span-r{
   border-right: 1px solid #000000;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;
   padding: 0px 3px 0px 3px;
}
