<footer id="l-footer" class="mt-auto py-3 text-white w-100">
  <div class="w-100 text-center">
    <div id="l-footer__social-media" class="d-flex justify-content-center align-items-center">
      <a
        rel="noopener noreferrer"
        title="LinkedIn"
        target="_blank"
        href="https://br.linkedin.com/in/jjoaovitor7">
        <i class="bi bi-linkedin me-2"></i>
      </a>
      <a
        rel="noopener noreferrer"
        title="GitHub"
        target="_blank"
        href="https://github.com/jjoaovitor7">
        <i class="bi bi-github text-white"></i>
      </a>
    </div>
    <p id="l-footer__page-author" class="shadow-blue text-white">
      jjoaovitor7
    </p>
  </div>
</footer>