#about {
  -webkit-animation: fade 2s;
  animation: fade 2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #roles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}