<section id="about" class="active l-container text-white" data-aos="fade">
  <h2 class="display-4 fw-semibold mb-4">
    Apresentação
  </h2>
  <p class="my-4">
    Olá, meu nome é João Vítor, sou formado em Ciência da Computação e tenho mais de 3 anos de experiência
    na área de TI, com foco principalmente no desenvolvimento back-end e front-end (web & mobile).
  </p>
  <p class="my-4">
    Estou trabalhando como desenvolvedor full-stack na Empresa Sergipana de Tecnologia de Informação (EMGETIS), onde
    desenvolvo novas funcionalidades para sites de órgãos governamentais e responsável pelo desenvolvimento do app "Gol
    da Gente" (API, Android, iOS e Web), cujo objetivo é trocar NFe's por ingressos de eventos esportivos.
  </p>
  <p class="my-4">
    Ah, também tenho familiaridade com Kanban e posso auxiliar em traduções de inglês (en) para português (pt-BR).
  </p>
  <div id="roles" class="row my-4">
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-code"></i>
        Desenvolvedor Full-Stack
      </div>
    </div>
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-code"></i>
        Desenvolvedor Web
      </div>
    </div>
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-code"></i>
        Desenvolvedor Mobile
      </div>
    </div>
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-translate"></i>
        Tradutor
      </div>
    </div>
  </div>
</section>