<section id="about" class="fading active l-container text-white" data-aos="fade">
  <h2 class="display-4 fw-semibold mb-4">Apresentação</h2>
  <p class="my-4">
    Olá, meu nome é João Vítor.
    <br />Graduado em Ciência da Computação e posso atuar como desenvolvedor full-stack (back-end / front-end) web &
    mobile.
  </p>
  <div id="roles" class="row my-4">
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-code"></i>
        Desenvolvedor Full-Stack
      </div>
    </div>
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-code"></i>
        Desenvolvedor Web
      </div>
    </div>
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-code"></i>
        Desenvolvedor Mobile
      </div>
    </div>
    <div class="block-col col-md-3 my-2">
      <div class="block">
        <i class="d-block bi bi-translate"></i>
        Tradutor
      </div>
    </div>
  </div>
</section>