/node_modules
scss/
build/
tests/
test/
*-lock.json
*.less
/public/components/bootstrap/*
/public/components/fontawesome/*
!dist/
!css/
!js/
!sprites/
!otfs/
!svgs/
!webfonts/
!sprites/
!.bower.json
!composer.json
!LICENSE*
!.gitignore
!.npmrc
!.babelrc.js
!.eslint*
!.gitattributes
!.editorconfig
!package.json
!package.js
!.style*
!.browserslistrc