@media screen and (max-width: 768px) {
  header#l-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .l-container {
    width: 100%;
    float: none;
    margin: 1% auto;
  }

  .l-container-cards {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-warning {
    margin: 0 0 50px 0;
  }
}
