/* BASE */
:root {
  font-size: 10px;
  --color-primary: #00428c;
  --color-primary-lighter: #003d99;
  --color-primary-darker: #011f4d;
  --color-blue: #0000ff;
  --color-red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* THEME */
body {
  background: var(--color-primary);
  /* prettier-ignore */
  background: linear-gradient(45deg, var(--color-primary-lighter), var(--color-primary));
  /* prettier-ignore */
  background: -moz-linear-gradient(45deg, var(--color-primary-lighter), var(--color-primary));
  /* prettier-ignore */
  background: -webkit-linear-gradient(45deg, var(--color-primary-lighter), var(--color-primary));
}

.shadow-red {
  text-shadow: 1px 1px 1px var(--color-red);
}

.shadow-blue-4 {
  text-shadow: 4px 4px 4px var(--color-blue);
}

.nav-tabs .nav-link.active {
  background: #0c75bb !important;
}

/* LAYOUT */
/* prettier-ignore */
.l-container, .l-portfolio {
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  border: 1px solid #000;
  box-shadow: 0.1rem 0.25rem 0.1rem #000;
  z-index: 1;
}

.l-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.l-container {
  max-width: 65rem;
}

#l-footer {
  background-color: var(--color-primary-darker);
  color: var(--color-white);
  padding: 2.1rem;
  line-height: 1.2 !important;
}

.fa-linkedin {
  font-size: 3rem;
}

.l-footer__social-media {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}

.container__loader {
  background: #fff;
  z-index: 9999;
  transition: opacity 1s;
}

/* MODULES */
.loader {
  border: 1.6rem solid #f3f3f3;
  border-top: 1.6rem solid #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.custom-shape-divider-top__svg {
  width: calc(100% + 0.13rem);
  height: 15rem;
}

.custom-shape-divider-top__shape-fill {
  fill: #0c75bb;
}

#l-header__title {
  margin: 0.4rem;
  font-family: "Lobster", cursive;
}

.about {
  font-weight: 300;
  margin: 1rem 0 0 0;
  font-size: 1.7rem;
}

.warning {
  filter: contrast(2);
  font-size: 1.6rem;
}

.l-footer__page-author__text {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  margin: 0;
}

/* STATE */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .l-portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
