#page-navbar-projects {
  text-align: center;
  margin: 5px 0;
}

#page-navbar-projects li {
  display: inline;
  margin-right: 15px;
  border-radius: 25px;
  background-color: var(--color-primary);
  padding: 8px 16px;
}

#page-navbar-projects li a {
  color: #fff;
  text-decoration: none;
}
