
/* container */
.container {
    background: var(--color-background-container);
    border-radius: 5px;
    color: var(--color-text-container);
    margin: 5px 25%;
    padding: 10px 5px;
    border: 1px solid #000;
    box-shadow: 1px 2.5px 1px #000;
}
@media (max-width: 600px){
    .container {
        width: 100%;
        float: none;
        margin: 5px 25%;
    }
}

.container p.about {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   margin: 5px;
   border-left: 3.5px solid #2418d6;
   padding-left: 5px;
}

.container p.aviso {
   font-family: 'Times New Roman', sans-serif;
   font-size: 1.1rem;
}

.container div {
    text-align: center;
    margin: 15px;
}
