/* container */
.container {
    background: var(--color-background-container);
    border-radius: 5px;
    color: var(--color-text-container);
    margin: 5px 25% 5px 25%;
    padding: 10px 5px;
    border: 1px solid #000;
    box-shadow: 1px 2.5px 1px #000;
}

.container p.aviso {
   font-family: 'Times New Roman', sans-serif;
   font-size: 1.1rem;
}

.container div {
    text-align: center;
    margin: 15px;
}

/* Media Queries */
@media screen and (max-width: 768px){
    .container {
        width: 100%;
        float: none;
        margin: 1% auto;
    }
}