/* footer */
#page-footer {
    background-color: var(--color-background-footer);
    color: var(--color-text-footer);
    padding: 10px;
    position: fixed;
   
    bottom: 0;
    left: 0;
    right: 0;
}

#page-footer p {
    text-shadow: 4px 4px 4px blue;
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
}