/* menu horizontal */
.navbar ul {
    /* background: #e6e6ff; */
    background: linear-gradient(to right, #00d2ff 0%, #3a7bd5 50%, #00d2ff 100%);
    border-radius: 25px;
    margin: 0 25rem 1.5rem 25rem;
    padding: 5px;
}
@media (max-width: 1100px) {
    .navbar ul {
        margin-left: 25%;
        margin-right: 25%;
    }
}

 
 .navbar ul li {
    background: #ccccff;
    border-radius: 1.5rem; /* 25px */
    display: inline;
    padding: 5px;
    margin: 2.5px;
}
 
 .navbar ul li:hover {
    background: #2980b9;
}
 
 .navbar ul li:active {
    position: relative;
    top: 1px;
}
 
 .navbar ul li a:link {
    text-decoration: none;
    color: #003d99;
}
 
 .navbar ul li a:visited {
    color: #2d2da1;
}
 