<section id="projects" class="l-container text-white" data-aos="fade">
  <h4 class="display-4 fw-semibold mb-4">
    Projetos
  </h4>
  <div class="l-portfolio justify-content-center">
    <app-card-project
      url="https://npmjs.com/package/discord-jokenpo"
      name="discord-jokenpo"
      stack="JavaScript (Node.js)"
    />

    <app-card-project
      url="https://github.com/jjoaovitor7/jjao-bot"
      name="jjao-bot"
      stack="JavaScript (Node.js) Firebase"
    />

    <app-card-project
      url="https://goldagente.se.gov.br"
      name="Gol da Gente"
      stack="React Native (Android & iOS) (Web)"
    />

    <app-card-project
      url="https://github.com/jjoaovitor7/HourWarning"
      name="HourWarning"
      stack="C# (GTK#)"
    />

    <app-card-project
      url="https://jjoaovitor7.github.io/map-sergipe"
      name="map-sergipe"
      stack="HTML, CSS, JavaScript"
    />

    <app-card-project
      url="https://jjoaovitor7.github.io/DodgeGame"
      name="DodgeGame"
      stack="HTML, CSS, JavaScript"
    />

    <app-card-project
      url="https://jjoaovitor7.github.io/Piano"
      name="Piano"
      stack="HTML, CSS, JavaScript"
    />

    <app-card-project
      url="https://jjoaovitor7.github.io/TreeGenerator"
      name="Tree Generator"
      stack="HTML, CSS, JavaScript"
    />
  </div>
</section>