<section id="work" class="l-container text-white" data-aos="fade">
  <h2 class="display-4 fw-semibold mb-4">
    Experiência Profissional
  </h2>
  <div class="my-4">
    <h4>
      Desenvolvedor Full-Stack, EMGETIS.
    </h4>
    <small>
      ago. 2021 - até o momento
    </small>
    <details>
      <ul>
        <li>
          Desenvolvimento,
          manutenção
          e algumas melhorias de segurança de mais de 32 sites com o CMS WordPress e a Stack LAMP (Linux, Apache,
          MariaDB e PHP),
          incluindo a aplicação do Composer para gerenciamento de dependências de temas WordPress o integrando com
          o Bower e o NPM.
        </li>
        <li>
          Criação de shortcodes e blocos customizados, além da aplicação e configuração de alguns plugins (ACF,
          Ninja Forms, entre outros) para sites WordPress buscando melhorar a experiência do usuário.
        </li>
        <li>
          Aplicação do Git com Gitea para versionamento do código
          e criação de script CI/CD com Gitea Actions para envio de alterações relacionadas ao tema WordPress de
          ambiente de "dev." pra ambiente de "prod.".
        </li>
        <li>
          Desenvolvimento e disponibilização em lojas virtuais (Play Store e App Store) de aplicação mobile com React
          Native,
          além do desenvolvimento de uma API (utilizando Node.js e SGBD Postgres)
          e do port para versão Web.
        </li>
        <li>
          Utilização do Portainer para hospedagem de sites e aplicações em desenvolvimento a partir de Stacks
          <i>(docker compose)</i>.
        </li>
        <li>
          Webscraping.
        </li>
        <li>
          Utilização de ferramentas como o VSCode, Tabby, Vim, Gimp, Kdenlive, LibreOffice, Smb4k, entre
          outros.
        </li>
      </ul>
    </details>
  </div>
  <div class="my-4">
    <h4>
      Estagiário de TI, EMGETIS.
    </h4>
    <small>
      dez. 2019 - ago. 2021
    </small>
    <details>
      Atividades Desempenhadas:
      <ul>
        <li>
          Desenvolvimento e manutenção de alguns sites com o CMS WordPress e a Stack LAMP (Linux, Apache, MariaDB
          e PHP).
        </li>
        <li>
          Atendimento de Chamados pelo GLPI <i>(helpdesk)</i>.
        </li>
        <li>
          Suporte ao usuário em sistemas do Detran <i>(emulador)</i>, Expresso <i>(e-mail)</i> e Zimbra
          <i>(e-mail)</i>.
        </li>
        <li>
          Visão Geral do Zabbix <i>(monitoramento de infraestrutura e rede)</i> e do Ansible.
        </li>
        <li>
          Backup de base de dados <abbr title="Microsoft SQL Server">mssql</abbr> utilizando o RDesktop <i>(para
            acesso remoto a máquina)</i> e o <abbr title="Server Management Studio">SMSS</abbr>.
        </li>
      </ul>
    </details>
  </div>
</section>