.card {
  background-color: var(--color-primary);
  padding: 3.2rem .8rem 0 .8rem;
  margin: .8rem 0;
  border-bottom: 4px solid #00428c;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.3s;
  min-width: 16rem;
  height: 14rem;
  text-align: center;
  box-shadow: #000 0 0 32px -16.8px;
}

.card p {
  margin: .4rem;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #d1d1d1;
}

.card a {
  color: #076fe6;
  text-decoration: none;
}

.card a:active {
  color: inherit;
}