.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 17.5rem;
  height: 12rem;
  text-align: center;
  margin: .5rem;
}

.card:hover {
  box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.card p {
  margin: .5rem;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.card a {
  text-decoration: none;
}
