:root {
  font-size: 10px;
  --color-primary: #141617;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary) !important;
}

.shadow-blue {
  text-shadow: 4px 4px 4px blue;
}

#container-loader {
  z-index: 999;
  opacity: 1;
  transition: opacity 0.8s ease;
  pointer-events: none;
}

.l-container {
  padding: 2rem 0.8rem;
  text-align: justify;
  font-size: 1.64rem;
  margin-top: 4%;
  width: 100%;
  scroll-margin-top: 8vh;
}

.l-container details {
  line-height: 3.2rem;
}

.l-container details li {
  margin: 0.8rem 0;
}

.l-portfolio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 3.2rem;
  column-gap: 2rem;
  padding: 0;
  align-items: stretch;
}

#l-footer {
  padding: 2.1rem;
}

.block:hover {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.loader {
  border: 1.6rem solid #f3f3f3;
  border-top: 1.6rem solid #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

#content {
  z-index: 99;
}

#nav-main {
  position: relative;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 0.5rem;
  font-size: 1.6rem;
  z-index: 999;
}

#nav-main #title-name,
#nav-main #title-role,
#nav-main .nav-link {
  font-variant: small-caps;
}

#nav-main #title-name {
  font-size: 1.64rem;
}

#nav-main #title-role {
  color: #4af626;
  font-size: 1.32rem;
}

#nav-main .nav-link {
  color: #d1d1d1;
}

#nav-main .navbar-toggler {
  z-index: 99;
}

#main {
  display: flex;
  padding-bottom: 4.2rem;
}

.particles-js-canvas-el {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.128;
}

#about {
  animation: fade 2s;
}

#l-footer__page-author {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: #000;
}

#l-footer .fab {
  font-size: 2.4rem;
}

.block {
  background-color: var(--color-primary);
  border-bottom: 4px solid #00428c;
  padding: 3.2rem;
  height: 100%;
  box-shadow: #000 0 0 32px -16.8px;
  opacity: 0;
  transition: opacity 2s;
}

.block.active {
  opacity: 1;
}

.fading {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.fading.active {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .l-portfolio {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .l-container {
    width: 400px !important;
  }

  .block-col {
    width: 100% !important;
  }

  #roles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  #projects {
    scroll-margin-top: 0vh;
    margin-top: 0;
  }

  .l-portfolio {
    gap: 2.4rem;
    align-items: stretch;
  }

  #nav-main {
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 8%;
    box-shadow: 0.1rem 0.25rem 0.1rem #000;
    padding-top: 8rem;
  }

  #nav-main .nav-link.active {
    color: #076fe6;
    border-left: 3px solid #076fe6;
    padding-left: 0.6rem;
  }

  .position-absolute-md {
    position: absolute;
  }

  .l-container {
    margin-left: 24%;
    width: 784px;
  }
}

@media screen and (max-width: 256px) {
  body {
    overflow-x: hidden;
  }

  .block {
    padding: 3.2rem 1.6rem 1rem 1.6rem;
    font-size: 1.18rem;
  }

  .l-container details {
    margin-right: 1.6rem;
  }

  .l-portfolio {
    gap: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

