body{
  background: lightblue;
  background: linear-gradient(45deg, lightblue 80%, white);
  background-attachment: fixed;
}

.title{
  text-align: center;
}

.subtitle{
  text-align: center;
  animation-name: fade-in;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes fade-in{
  from{
    opacity: 0.0;
  }
  to{
    opacity: 1.0;
  }
}

.navbar ul{
  background: #d3dff2;
  margin: 0% 25% 0% 25%;
}

.navbar ul li{
  background: lightblue;
  display: inline;
  padding: 5px;
  border-radius: 25px 25px 25px 25px;
}
