body{
   background: #0052cc;
   background: linear-gradient(45deg, #003d99, #0052cc);
   background-attachment: fixed;
}

.title{
   color: #e6e6ff;
   font-size: 45px;
   text-align: center;
}

.subtitle{
   font-size: 35px;
   color: #e6e6ff;
   text-align: center;
   animation-name: fade-in;
   animation-duration: 2.5s;
   animation-timing-function: ease-in;
   animation-iteration-count: 1;
}

@keyframes fade-in{
   from{
      opacity: 0.0;
   }
   to{
      opacity: 1.0;
   }
}

.navbar ul{
   background: #e6e6ff;
   padding: 5px;
   margin: 0% 25% 0% 25%;
}

.navbar li{
   background: #ccccff;
   display: inline;
   padding: 3px;
   border-radius: 25px 25px 25px 25px;
}

.navbar li a:link{
   color: #1a1aff;
}

.navbar li a:visited{
   color: #1a1aff;
}

p{
   background: #ffffff;
   color: #000000;
   margin: 0% 25% 0% 25%;
}
