<aside id="nav-main" class="d-flex flex-column">
  <nav class="navbar w-100 h-100 navbar-expand-lg position-relative">
    <div class="container-fluid flex-column justify-content-center align-self-start text-center py-4">
      <h4 id="title-name">João Vítor Silva Ferreira</h4>
      <h4 id="title-role">Desenvolvedor Full-Stack</h4>
      <button type="button" class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbar-main"
        aria-controls="navbar-main" aria-expanded="false" aria-label="Alternar navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column" id="navbar-main">
        <ul class="navbar-nav flex-column">
          <li class="nav-item my-2">
            <a class="nav-link" href="/about">Início</a>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link" href="/education">Educação</a>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link" href="/work">Experiência Profissional</a>
          </li>
          <li class="nav-item my-2">
            <a class="nav-link" href="/projects">Projetos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-contact class="w-100" />
</aside>