.u-font-size-default {
  font-size: 1.6rem;
}

.u-font-size-medium {
  font-size: 1.8rem;
}

.u-font-size-medium-2 {
  font-size: 2.5rem;
}

.u-font-size-medium-3 {
  font-size: 3rem;
}

.u-font-size-big {
  font-size: 5rem;
}

.u-font-size-big-2 {
  font-size: 5.5rem;
}

.u-font-size-big-3 {
  font-size: 6rem;
}

.u-mtb-5 {
  margin: 5px 0;
}

.u-mtb-10 {
  margin: 10px 0;
}

.u-pl-5 {
  padding-left: 5px;
}

.u-textcenter {
  text-align: center;
}

.u-vmiddle {
  vertical-align: middle;
}

#l-header__title {
  margin: 0.4rem;
  font-family: "Lobster", cursive;
}

#l-header__subtitle {
  animation-name: fade-in;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  font-family: "Lobster", cursive;
  margin: 1rem 0rem;
}

/* ABOUT */
.about {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 10px 0 0 0;
}

/* DATE-HOUR */
.dateHour {
  font-family: "Roboto", sans-serif;
}

/* WARNING */
.warning {
  font-family: "Roboto", sans-serif;
}

.l-footer__page-author__text {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-family: "Lobster", cursive;
  font-size: 18px;
  margin: 0;
}

.l-footer__social-media {
  position: absolute;
  opacity: 0.8;
  right: 0;
  bottom: 0;
}

.l-footer__social-media:hover {
  opacity: 1;
}
