:root {
  font-size: 10px;
}

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Times New Roman", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 5rem;
}
