.l-textjustify {
  text-align: justify;
}

#l-header {
  position: relative;
  z-index: 1;
}

.l-container,
.l-personal,
.l-university {
  margin: 1% auto;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  border: 1px solid #000;
  box-shadow: 0.1rem 0.25rem 0.1rem #000;
  z-index: 1;
}

.l-container {
  max-width: 65rem;
}

.l-personal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.l-university {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#l-footer {
  background-color: var(--color-primary-darker);
  color: var(--color-white);
  padding: 2.1rem;

  position: absolute;
  bottom: -.5rem;
  left: 0;
  right: 0;
  line-height: 1.2 !important;
}

#tools a {
  display: block;
}

#mainTab {
  z-index: 999;
}

#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconandtext {
  font-size: 1.2rem;
}
