/* LOADER */
.loader {
  position: absolute;
  border: 1.6rem solid #f3f3f3; /* Light grey */
  border-top: 1.6rem solid #3498db; /* Blue */
  border-radius: 50%;
  right: 0;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  z-index: 1;
}

/* CUSTOM SHAPE DIVIDER TOP */
.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.custom-shape-divider-top__svg {
  width: calc(100% + 0.13rem);
  height: 15rem;
}

.custom-shape-divider-top__shape-fill {
  fill: #0c75bb;
}

#l-header__title {
  margin: 0.4rem;
  font-family: "Lobster", cursive;
}

/* ABOUT */
.about {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

/* WARNING */
.warning {
  filter: contrast(2);
  font-size: 1.6rem;
}

.l-footer__page-author__text {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  margin: 0;
}
