.u-vmiddle {
  vertical-align: middle;
}

/* LOADER */
.loader {
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  right: 0;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

/* CUSTOM SHAPE DIVIDER TOP */
.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.custom-shape-divider-top__svg {
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top__shape-fill {
  fill: #0c75bb;
}

#l-header__title {
  margin: 0.4rem;
  font-family: "Lobster", cursive;
}

/* ABOUT */
.about {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 10px 0 0 0;
  font-size: 1.5rem;
}

/* DATE-HOUR */
.dateHour {
  font-family: "Roboto", sans-serif;
}

/* WARNING */
.warning {
  font-family: "Roboto", sans-serif;
}

.l-footer__page-author__text {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-family: "Lobster", cursive;
  font-size: 18px;
  margin: 0;
}

.l-footer__social-media {
  position: absolute;
  opacity: 0.8;
  right: 0;
  bottom: 0;
}

.l-footer__social-media:hover {
  opacity: 1;
}
