:root {
  --color-primary: #00428c; /* Porto Blue */
  --color-primary-lighter: #003d99;
  --color-primary-darker: #011f4d;
  --color-blue: #0000ff;
  --color-red: #ff0000;
}

body {
  background: var(--color-primary);
  background: linear-gradient(
    45deg,
    var(--color-primary-lighter),
    var(--color-primary)
  );
  background: -moz-linear-gradient(
    45deg,
    var(--color-primary-lighter),
    var(--color-primary)
  );
  background: -webkit-linear-gradient(
    45deg,
    var(--color-primary-lighter),
    var(--color-primary)
  );
}

.shadow-red {
  text-shadow: 1px 1px 1px var(--color-red);
}

.shadow-blue-4 {
  text-shadow: 4px 4px 4px var(--color-blue);
}

.u-color-grey {
  color: #d7d7f7;
}

.nav-tabs .nav-link.active {
  background: #0c75bb !important;
}
